.sign-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 80svh;
}
.email-pass{
  display: flex;
  flex-direction: column;
  gap: 10px 20px;
}
.email-pass input{
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  width: 300px;
  height: 50px;
  font-size: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.email-pass input:last-child{
  background-color: var(--clr-m);
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}
.email-pass input:last-child:active{
  scale: .9;
}
